defmodule <%= @module %>.Application do
  @moduledoc false

  use Application

  @impl true
  def start(_type, _args) do
    children = [
      # <%= @module %>.Worker1,
      # {<%= @module %>.Worker2, arg},
    ]

    opts = [strategy: :one_for_one, name: <%= @module %>.Supervisor]
    Supervisor.start_link(children, opts)
  end
end
