defmodule <%= @module %> do
  @moduledoc """
  Documentation for <%= @module %>.
  """

  use ExCLI.DSL

  import Marcus

  name "<%= @app %>"
  description "Description for <%= @app %>"

  default_command :hello

  command :hello do
    description "Says hello"

    run _context do
      info("Hello, world!")
    end
  end

  @doc false
  @spec main([binary()]) :: any()
  def main(args) do
    enable_colors()
    ExCLI.run!(__MODULE__, args)
  end
end
