##
## Application artifacts
##

# Elixir build directory
/_build/

# Elixir dependencies
/deps/
/.fetch

# Elixir binary files
*.beam
*.ez
/<%= @app %>-*.tar
/<%= @app %>

# Test coverage and documentation
/cover/
/doc/

##
## Editor artifacts
##

/.elixir_ls/
/.history/

##
## Crash dumps
##

# Erang VM
erl_crash.dump<%= if @push or @ssh do %>

##
## Private data
##

# Host SSH key
/rootfs_overlay/etc/ssh/

# User SSH key
/priv/ssh/<% end %>
